<div>
    <h6>Schemas</h6>

    <div class="accordion" id="schemaAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#schemaPublic">
                    public
                </button>
            </h2>
            <div id="schemaPublic" class="accordion-collapse collapse">
                <div class="accordion-body p-2">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">blog_posts</li>
                        <li class="list-group-item">blog_posts_tags</li>
                        <li class="list-group-item">blog_posts_categories</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
